@import "tailwindcss";

@theme {
    --color-cream: #F7F3EE;
    --color-warm-white: #FDFAF7;
    --color-ink: #1A1612;
    --color-ink-60: #1A161299;
    --color-ink-20: #1A16121F;
    --color-accent: #C8522A;
    --color-accent-light: #F2E8E3;
    --color-green: #3A7D5C;
    --color-green-light: #E3F0EA;
    --color-border: #C6C6C6;
    --color-opacity-50: #00000077
}

@layer components {
    .header {
        @apply flex flex-row fixed justify-between w-full bg-warm-white px-6 py-4 border-b border-border;
    }

    .button-ghost {
        @apply border border-border px-5 py-2 rounded-xl cursor-pointer hover:bg-cream text-sm transition-all duration-300 hover:shadow-md;
    }

    .button-primary {
        @apply bg-accent text-white px-5 py-2 rounded-xl cursor-pointer hover:bg-[#b34723] text-sm transition-all duration-300 hover:shadow-md;
    }

    .heading {
        @apply font-serif font-semibold text-2xl antialiased;
    }

    .modal {
        @apply bg-warm-white rounded-3xl min-w-lg max-h-9/10 m-auto overflow-auto ;
    }

    .overlay {
        @apply fixed inset-0 bg-opacity-50 backdrop-blur-xs flex items-center justify-center;
    }
}